body {
    background-color: #fffefe;
    margin: 0;
    padding: 0;
}

button {
    background-color: #070707;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    font-style: inherit;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
}

.cartas-jugador {
    position: relative;
    height: 200px;
    width: 830px;
    background-color: rgba(49, 53, 53, 0);
    border-radius: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    padding-right: 0;
  }
  
  .carta {
    height: 300px;
    width: 190px;
    background-color: rgba(67, 70, 70, 0.397);
    border: 1px solid black;
    border-radius: 20px;
    margin-right: -30px;
    transition: transform 0.3s;  
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5); 
}

.carta:hover {
    transform: scale(1.4); 
    z-index: 1; 
}

.player1 {
    bottom: -580px;
    left: 50px; 
}

.mazo {
    position: relative;
    bottom: 1000px;
    right: -100px;
    height: 300px;
    width: 190px;
    background-color: rgba(49, 53, 53, 0.486);
    border-radius: 20px;
}

.area-juego {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    top: -200px;
    left: 1000px;
    background-color: rgba(49, 53, 53, 0.486);
    border-radius: 20px;
    height: 900px;
    width: 800px;
}
  
.seguridad1{/*Esquina inferior izquierda para seguridad del jugador 1*/
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 250px;
  width: 160px;
  background-color: rgba(80, 87, 87, 0.397);
  border: 1px solid black;
  border-radius: 20px;
}
.carta1 {/*Esquina inferior izquierda, lado derecho, para jugar carta del jugador 1*/
    position: absolute;
    bottom: 0px;
    left: 165px;
    height: 250px;
    width: 160px;
    background-color: rgba(80, 87, 87, 0.397);
    border: 1px solid black;
    border-radius: 20px;
}

.problema1{
    position: absolute;
    bottom: 0px;
    left: 330px;
    height: 250px;
    width: 160px;
    background-color: rgba(80, 87, 87, 0.397);
    border: 1px solid black;
    border-radius: 20px;
}

.seguridad2{/*Esquina superior derecha para seguridad del jugador 2*/
    position: absolute;
    top: 0px;
    right: 0px;
    height: 250px;
    width: 160px;
    background-color: rgba(80, 87, 87, 0.397);
    border: 1px solid black;
    border-radius: 20px;
}
.carta2 {/*Esquina superior derecha, lado izquierdo, para jugar carta del jugador 2*/
    position: absolute;
    top: 0px;
    right: 165px;
    height: 250px;
    width: 160px;
    background-color: rgba(80, 87, 87, 0.397);
    border: 1px solid black;
    border-radius: 20px;
}

.problema2{
    position: absolute;
    top: 0px;
    right: 330px;
    height: 250px;
    width: 160px;
    background-color: rgba(80, 87, 87, 0.397);
    border: 1px solid black;
    border-radius: 20px;
}

.score-container {
    position: fixed;
    top: 160px;
    right: 1050px;
    height: 150px;
    width: 200px;
    background-color: rgba(190, 184, 184, 0.8);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cambio-carta-btn {
    position: absolute;
    top: 400px; 
    left: 300px; 
    padding: 10px 20px; 
    font-size: 16px; 
    border: none;
    border-radius: 5px;
    background-color: #0a0a0a; 
    color: #ffffff; 
}

.cambio-carta-btn i {
    margin-right: 5px;
    font-size: 24px; 
}

