body,
html {
    background-image: linear-gradient(to bottom right, #f81414, #f06a11, #f0b511, #f7f1ed);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.navbar {
    background-color: #000000;
    color: #fff;
    padding: 30px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title {
    margin: 0;
    font-size: 40px;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 50px);
}

.form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Ancho máximo del formulario */
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 15px;
    text-align: left; /* Alinear etiquetas a la izquierda */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Asegurarse de que el padding se incluya en el ancho total */
}

button {
    padding: 10px 20px;
    margin: 20px 0 0;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Posicionamiento del botón en la parte inferior derecha */
#bottomRightButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007BFF; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#bottomRightButton:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el ratón por encima */
}